<section id="about" class="bg-light-gray">
    <div class="container">
        <div class="row">                
            <div class="col-md-8">
                <h2 class="section-heading">About us</h2>
                <p> We met in October 2009 at Lincoln College, Oxford. Neither of us remember exactly how we met so unfortunately we cannot give you a scene out of a rom-com, where we both lock eyes across the room… Jack suggested making something up for the website. Becky was against it. We probably just met in someone’s room at a film night. One or both of us may have been drunk. </p>

                <p>Either way, we became close friends from very early on. Jack wrote Becky letters when she had to take a couple of terms out in 2010, before restarting in October 2010. We had a lot in common, despite reading very different subjects (English vs Physics). We performed at open mic nights together and would often keep each other company in the library.</p>

                <p>Helpfully, we did not get together until about a month before we both graduated, in June 2013. This made for an interesting few years of immediate long distance. However, we started living together in March 2016 and haven’t looked back since (although we have moved around quite a lot!!). We got engaged in December 2019. We picked the ring out together, settling on about the first one Becky tried on and speeding up the timeline considerably as she got too excited! Jack then surprised Becky with a proposal on a walk with Tess the dog in Beckenham Place Park (who managed not to eat the ring), followed by sushi and champagne in Bromley and a special FaceTime to Bristol, which Jack had arranged ahead of time.</p>

                <p>Given that we met there, Lincoln is somewhere really special to the both of us and the perfect place for us to begin our ‘next chapter’. We both knew that we wanted to get married in the chapel even before we got engaged. In keeping with our habit of not making things easy for ourselves we discovered that we needed to get a special licence from the Archbishop of Canterbury… This involved swearing a very old school affidavit which you can see here if you are interested. Fun fact - we have to get married in the daylight in case one of us tries to swap the other out last minute… </p>

                <p>We can’t wait to share our special day with you, celebrating our relationship and our marriage. 25th June 2022 baby! We would be honoured if you could be there.</p>
            </div>
            <div class="col-md-4 pic">
                <img class="pic" src="../img/EmmaJane/EJ2_0290.jpg">
            </div>
        </div>
    </div>
</section>
