    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">How we met</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        Neither of us actually remember
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/EJ2_0290.jpg">
                </div>
            </div>
        </div>
    </section>
