<section id="accommodation" class="bg-light-gray">
    <div class="container">
        <div class="row">                
            <div class="col-md-6 col-md-push-6">
                    <h2 class="section-heading text-center">Lodging</h2>
                        <p> Some of the wedding party will be staying at <a href="https://www.oldbankhotel.co.uk/"> The Old Bank Hotel</a> in Central Oxford.</p>
                        <p>Here are some other hotel options:</p>
                        <ul>
                            <li><p><a href="https://turlstreetmitre.co.uk/">The Mitre!?</a>, Central Oxford.</p>
                            <li><p><a href="https://all.accor.com/hotel/6668/index.en.shtml">Mercure</a>, Central Oxford.</p>
                            <li><p><a href="https://www.malmaison.com/locations/oxford/">Malmaison</a>, Central Oxford.</p>
                            <li><p><a href="https://www.travelodge.co.uk/uk/oxfordshire/oxford/index.html">Travelodge</a>, Multiple locations.</p>
                        </ul>

            </div>
            <div class="col-md-6 col-md-pull-6">
                    <img src="../img/EmmaJane/Accommodation.jpg"/>
            </div>
        </div>
    </div>
</section>

