<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">                
            <div class="col-md-12">
                <h2 class="section-heading">FAQ's</h2>

                <h4> What time should I arrive for the ceremony?</h4>
                <p>
                    We recommend that you arrive 30 minutes before the ceremony at the very latest. The Missing Bean (directly opposite to Lincoln) serves some very good coffee if you are early and would like a pick me up!
                </p>
                
                <h4>
                    What happens after the ceremony?
                </h4>
                oom will be taking photos for about an hour. There will be some group shots at Lincoln and then guests will be transported by bus to The Perch for welcome drinks and canapés. The Bride and Groom will then join by car.<p>
                </p>

                <h4>
                    Will the ceremony and website be indoors or outdoors?
                </h4>
                <p>
                    The ceremony will be indoors. The reception will take place in a marquee in The Perch’s garden but there will be some outside spaces for you to enjoy!
                </p>

                <h4>
                    Will food and drink be served at the Reception?
                </h4>
                <p>
                    There will be welcome drinks and canapés on arrival from 3-4:30pm. We will then have a sit down meal with sharing platters and wine on the table and fizz for toasts. Evening food will be provided later on for both day and evening guests, with fizz for evening guests on arrival. The marquee will also have a bar (credit and debit cards will be accepted) so that guests can purchase any more drinks during the evening.
                </p>

                <h4>
                    Will there be any vegan/vegetarian/gluten free/special diet options?
                </h4>
                <p>
                    We can accommodate dietary requirements - just let us know if you have any when you RSVP.
                </p>

                <h4>
                    What happens after the wedding breakfast?
                </h4>
                <p>
                    We will have a short break while The Perch clears the tables out of the way for the dance floor. This should take about 45 minutes and will give guests time to freshen up, take photos, and buy any more drinks. We plan to have some games outside for people to play to enjoy the (hopefully!) good weather. Evening guests will then arrive from 8:30pm onwards, ready for us to get to dancing!
                </p>

                <h4>

What happens at the end of the night?
                </h4>
                <p>
We will have to turn music off at 11:30pm and be out of The Perch by 12am. There are taxis available for booking from The Perch to help you get back to your accommodation safely and responsibly!
                </p>

                <h4>
Is there a dress code?
                </h4>
                <p>
                    Formal or black tie optional. Dress to impress!
                </p>

                <h4>
Are children welcome?
                </h4>
                <p>
                    We hope you will understand our decision to make the wedding child-free, and take the opportunity to let your hair down and celebrate in style!
                </p>

                <h4>

Can I bring a date?
                </h4>
                <p>
Due to space constraints at the venue, we are regrettably unable to extend invitations for additional plus ones. We appreciate your understanding and look forward to celebrating with you!
                </p>
                <h4>
                    When do I need to RSVP by?
                </h4>
                <p>
                    Please let us know online if you can make it by 25th April 2022!
                </p>
                <h4>
                    Do you have any recommendations for us while we are in town?
                </h4>
                <p>
                    If you are spending a bit of time in Oxford around the wedding then
                </p>
                <h4>
                        Is it ok to take photos during the wedding?
                </h4>
                <p>
                    We would respectfully ask that you don’t take any pictures during the ceremony (as we have a photographer on hand) but we would love for you to take pictures and share them with us afterwards!
                </p>
                <h4>
                    I have other questions! Who can I contact?
                </h4>
                <p>
                    Feel free to let Becky or Jack know if you have any additional questions.
                </p>
            </div>
        </div>
    </div>
</section>
