<section class="bg-light-gray" id="FAQ" >
    <div class="container">
        <div class="row">                
            <div class="col-md-12">
                <h2 class="section-heading">FAQ's</h2>

                <div class="question">
                    <h5> COVID-19</h5>
                    <p> We hope that no restrictions will be in place at the time of the wedding. We ask that you take a lateral flow before coming, and if you test positive/have symptoms please do not come! We will update the website closer to the date, so please check back.</p>
                    <p> <b> Update, February 2022:</b> Fingers crossed there will be no restrictions.</p>
                </div>
                <div class="question">
                    <h5>
                        When do I need to RSVP by?
                    </h5>
                    <p>
                    Please let us know online if you can make it by <b>25th April 2022</b>!
                    </p>
                </div>

                <div class="question">
                    <h5> What time should I arrive for the ceremony?</h5>
                    <p>
                    We recommend you arrive at least 30 minutes before the ceremony. <a href="https://www.themissingbean.co.uk/">The Missing Bean</a> (opposite Lincoln) serves good coffee.
                    </p>
                </div>
                <div class="question">
                    <h5>
                        What happens after the ceremony?
                    </h5>
                    <p>
                    The ceremony will finish at 1:30 pm. There will be some group shots at Lincoln and then guests will be transported by bus to the Perch for 2:30pm, for welcome drinks and canapés. The Bride and Groom will take photos for an hour at Lincoln, and then join the guests. 
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Will the ceremony/recption be indoors or outdoors?
                    </h5>
                    <p>
                    The ceremony will be indoors. The reception will be in a marquee in the Perch’s garden, which has lovely outdoor spaces.
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Will food and drink be served at the Reception?
                    </h5>
                    <p>
                    Yes. Welcome drinks and canapés on arrival from 2:30-4:00pm, followed by the wedding breakfast with sharing platters, wine and fizz. In the evening, food will be provided for both evening and day guests, with fizz for evening guests on arrival. The marquee has a bar where guests can purchase more drinks during the evening. <b> Note!</b> The bar is cashless. Contactless payment is possible.
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Will there be vegan/vegetarian/gluten free/special diet options?
                    </h5>
                    <p>
                    We can accommodate dietary requirements - just let us know when you <a class="page-scroll" href="#rsvp">RSVP</a>.
                    </p>
                </div>
                <div class="question">
                    <h5>
                        What happens after the wedding breakfast?
                    </h5>
                    <p>
                    There will be a 45 minute break while the Perch sets up the dance floor. Evening guests will arrive from 7:30pm, ready for dancing!
                    </p>
                </div>
                <div class="question">
                    <h5>
                        What happens at the end of the night?
                    </h5>
                    <p>
                    We have to turn music off at 11:30pm and leave the Perch by 12am. There are taxis available for booking from the Perch to help you get back to your accommodation safely!
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Can I take photos during the wedding?
                    </h5>
                    <p>
                    We ask that you don’t take pictures during the ceremony, as we have a photographer on hand. After that, we would love you to take pictures and share them with us afterwards!
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Is there a dress code?
                    </h5>
                    <p>
                     No, but Becky will look very pretty (written by Jack). Maybe not jeans?
                    </p>
                </div>
                <div class="question">
                    <h5>
                        Are children welcome?
                    </h5>
                    <p>
                    We hope you will understand our decision to make the wedding child-free, and take the opportunity to let your hair down and celebrate in style!
                    </p>
                </div>
                <div class="question">
                    <h5>
                        I have other questions! Who can I contact?
                    </h5>
                    <p>
                    Ask Becky! (or Jack at a pinch).
                    </p>
                </div>
            </div>
</section>
