<section id="registry" >
    <div class="container">
        <div class="row">                
            <div class="col-md-6 col-md-push-6">
              <div style="text-align: center;">
                    <img src="../img/HolidayCroppedScaled.jpg"/>
              </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                    <h2 class="section-heading text-center">Registry</h2>
                    <p>You absolutely do not need to bring a present. After the last year, it is honestly true that your presence in celebrating with us is really all we want.</p>

                    <p> <b>But</b> we are planning on Japan as a honeymoon... so... if you want, you can contribute to our honeymoon pot. We set up a Monzo account for this under Becky's name:  <b>Account number</b>: 54868623, <b>Sort code</b>: 04-00-04. Leave your name so we can send you a thank you :)
            </div>
        </div>
    </div>
</section>

