    <section class="rsvp text-center" id="rsvp">
    <h2 class="section-heading">RSVP</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <form id="rsvp-form" class="rsvp-form" action="" method="POST">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-input-group">
                                <i class="fa fa-envelope"></i>
                                <input type="email" name="email" class="" placeholder="Your email" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-input-group">
                                <i class="fa fa-user"></i>
                                <input name="name" class="" placeholder="Your name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-input-group">
                                <i class="fa fa-users"></i>
                                <input name="extras" class="" placeholder="Other guests attending"  required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-input-group">
                                <i class="fa fa-key"></i>
                                <input type="number" name="invite_code" id="invite_code" class="" min="0" placeholder="Invite code" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-input-group">
                                <input name="dietary" class="" placeholder="Dietary requirements" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="alert-wrapper"></div>
                    </div>
                    <button class="btn-fill rsvp-btn">
                        Yes, that's me!
                    </button>
                </form>
            </div>
            </div>
        </div>
    </section>
