    <section id="schedule" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                    <h2> 1-2 pm: Ceremony</h2>
                    <h5><a href="http://www.lincoln.ox.ac.uk">Lincoln College</a></h5>
                    <h2> 2:30-4 pm: Drinks Reception</h2>
                    <h5><a href="http://www.the-perch.co.uk">The Perch</a></h5>
                    <h2> 4-7:30 pm: Wedding Breakfast & Speeches </h2>
                    <h5><a href="http://www.the-perch.co.uk">The Perch</a></h5>
                    <h2> 7:30 pm: Evening Reception</h2>
                    <h5><a href="http://www.the-perch.co.uk">The Perch</a></h5>
                    <h2> Midnight: Carriages</h2>
                    <h5><a href="https://goo.gl/maps/PbdzrJvuxc8c3cpL8">Somewhere else</a></h5>
            </div>
        </div>

    </section>
