    <section id="travel" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Getting There</h4>
                        <p>We recommend flying into Oakland International because it's closer to the venue. SFO is busier and further away, but may be less expensive depending on where you're coming from.</p>
                        <h4>Getting Around</h4>
                        <p>If you're not renting a car, the Bay Area has acceptable public transit and services like Lyft and Uber are easy to get. The AC transit bus 11 runs from Downtown Oakland directly to our venue, but stops running early.</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/lodge.jpg">
                </div>
            </div>
        </div>
    </section>
