<section id="travel">
    <div class="container">
        <div class="row">                
            <div class="col-md-6">
                <h2 class="section-heading text-center">Travel</h2>
                <h3>On the day</h3>
                <p>Travel will be provided from the ceremony to the reception. The Perch has taxis on call for the end of the night. If you want a big taxi (e.g. 8 seats), we recommend that you pre-book with <a href="https://www.001taxis.com/"!>001 taxis</a>.</p>
                <h3>Getting there</h3>
                <h4>Driving</h4>
                <p>Central Oxford is a nightmare to drive around/park in. We recommend using one of the <a href="https://www.oxford.gov.uk/parkandridesites">Park and Ride sites</a>. <b>Note! Parking at the Perch is very limited, we do not recommend trying to park there.</b></p>
                <h4>Trains</h4>
                <p>Oxford train station is a 15 minute walk from Lincoln College.</p> 

            </div>
            <div class="col-md-6 text-center">
                <div class=" embed-responsive embed-responsive-4by3">
                <iframe  src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d4939.756273972557!2d-1.267853848875371!3d51.75355190642784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x4876c6a2790faf05%3A0xba97a9d53201a3c!2soxford%20train%20station!3m2!1d51.7535077!2d-1.2697663!4m5!1s0x4876c6af0a04ee29%3A0x45f75b2f8142ce52!2sLincoln%20College%2C%20Turl%20St%2C%20Oxford%20OX1%203DR!3m2!1d51.753165499999994!2d-1.2559881!5e0!3m2!1sen!2suk!4v1626546056150!5m2!1sen!2suk" width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>

