<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">                
            <h2 class="section-heading text-center">Venue</h2>
        </div>
        <div class="row">                
            <div class="col-md-6 text-center">
                <h2 class="text-center">Lincoln College</h2>
                <div style="padding:30px 0"><img src="../img/Lincoln1.jpg"/></div>
                <div  class=" embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1234.9448223351746!2d-1.2567418019717627!3d51.75334148406764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6af0a04ee29%3A0x45f75b2f8142ce52!2sLincoln%20College!5e0!3m2!1sen!2suk!4v1626564592867!5m2!1sen!2suk" width="515" height="343" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h2 class="text-center">The Perch</h2>
                <div style="padding:30px 0"><img src="../img/ThePerch.jpg"/></div>
                <div class=" embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.232798744356!2d-1.2880583996080661!3d51.765351185851486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c42be387e3d1%3A0xf0dd327f99c766ad!2sThe%20Perch!5e0!3m2!1sen!2suk!4v1626564817235!5m2!1sen!2suk" width="515" height="343" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

