<section id="weddingparty">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Wedding Party</h2>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/PipCropped.jpg">
                <h3 class="text-center">Pip</h3>
                <h5 class="text-center">Maid of Honour</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/ElanaCropped.jpg">
                <h3 class="text-center">Elana</h3>
                <h5 class="text-center">Kaos demon</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/AnnaCropped.jpg">
                <h3 class="text-center">Anna</h3>
                <h5 class="text-center">Bridesmaid</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/GeorginaCropped.jpg">
                <h3 class="text-center">Georgina</h3>
                <h5 class="text-center">Bridesmaid</h5>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/IlianaCropped.jpg">
                <h3 class="text-center">Iliana</h3>
                <h5 class="text-center">Bridesmaid</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/LeahCropped.jpg">
                <h3 class="text-center">Leah</h3>
                <h5 class="text-center">Bridesmaid</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/SarahCropped.jpg">
                <h3 class="text-center">Sarah</h3>
                <h5 class="text-center">Bridesmaid</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/JanekCropped.jpg">
                <h3 class="text-center">Janek</h3>
                <h5 class="text-center">Groomsman</h5>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/JimCropped.jpg">
                <h3 class="text-center">Jim</h3>
                <h5 class="text-center">Groomsman</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/JonCropped.jpg">
                <h3 class="text-center">Jon</h3>
                <h5 class="text-center">Groomsman</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/JimCropped.jpg">
                <h3 class="text-center">Nick</h3>
                <h5 class="text-center">Groomsman</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/SteveCropped.jpg">
                <h3 class="text-center">Steve</h3>
                <h5 class="text-center">Father of the Bride</h5>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/HowardCropped.jpg">
                <h3 class="text-center">Howard</h3>
                <h5 class="text-center">Father of the Groom</h5>
            </div>

            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/CeriCropped.jpg">
                <h3 class="text-center">Ceri</h3>
                <h5 class="text-center">Mother of the Bride</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/JulieCropped.jpg">
                <h3 class="text-center">Julie</h3>
                <h5 class="text-center">Mother of the Groom</h5>
            </div>
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/SkittleCropped2.jpg">
                <h3 class="text-center">Skittle</h3>
                <h5 class="text-center">Psychopomp</h5>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3">
                <img class="center-block img-responsive" src="/img/WeddingParty/TessCropped.jpg">
                <h3 class="text-center">Tess</h3>
                <h5 class="text-center">Ms. Wags</h5>
            </div>
        </div>
    </div>
</section>
