<!DOCTYPE html>
<html>

    {% include head.html %}


    <body id="page-top" class="index">

        {% include header.html %}

        {% include schedule.html %}

        {% include about.html %}

        {% include weddingparty.html %}

        {% include travel.html %}

        {% include rsvp.html %}

        {% include registry.html %}


        {% comment %}
        {% include footer.html %}
        {% include contact.html %}
        {% include modals.html %}
        {% include recipes.html %}
        {% endcomment %}

    </body>

    {% include js.html %}
</html>
